.main {
    background-image: url(../../assets/image/7.jpg);
    width: 100%;
    height: calc(100vh - 140px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &__info {
        background-color: #fff;
        width: 450px;
        height: 400px;
        position: absolute;
        right: 270px;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            text-transform: uppercase;
            font-family: monospace;
            font-weight: bold;
            color:#5f0038 ;
            font-size:35px;
        }
    }
}

